.wrap {
    flex-grow: 2;
    padding: 1rem;

    p {
        color: black;
    }

    pre {
        color: black;
        line-height: 1.8rem;
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    a {
        color: rgb(58, 185, 173);
    }
}